<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>default</key>
			<string>Battery</string>
			<key>label</key>
			<string>Top Ring</string>
			<key>name</key>
			<string>outer</string>
			<key>options</key>
			<dict>
				<key>Battery</key>
				<string>battery</string>
				<key>Hour</key>
				<string>hour</string>
				<key>Minute</key>
				<string>minute</string>
				<key>Second</key>
				<string>second</string>
				<key>Wifi</key>
				<string>wifi</string>
				<key>Weather</key>
				<string>weather</string>
				<key>RAM</key>
				<string>ram</string>
			</dict>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Weather</string>
			<key>label</key>
			<string>Middle Ring</string>
			<key>name</key>
			<string>center</string>
			<key>options</key>
			<dict>
				<key>Battery</key>
				<string>battery</string>
				<key>Hour</key>
				<string>hour</string>
				<key>Minute</key>
				<string>minute</string>
				<key>Second</key>
				<string>second</string>
				<key>Wifi</key>
				<string>wifi</string>
				<key>Weather</key>
				<string>weather</string>
				<key>RAM</key>
				<string>ram</string>
			</dict>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>Second</string>
			<key>label</key>
			<string>Bottom Ring</string>
			<key>name</key>
			<string>inner</string>
			<key>options</key>
			<dict>
				<key>Battery</key>
				<string>battery</string>
				<key>Hour</key>
				<string>hour</string>
				<key>Minute</key>
				<string>minute</string>
				<key>Second</key>
				<string>second</string>
				<key>Wifi</key>
				<string>wifi</string>
				<key>Weather</key>
				<string>weather</string>
				<key>RAM</key>
				<string>ram</string>
			</dict>
			<key>type</key>
			<string>select</string>
		</dict>
      <dict>
		<key>default</key>
		<string>-20</string>
		<key>label</key>
		<string>min</string>
		<key>name</key>
		<string>min</string>
		<key>type</key>
		<string>edit</string>
	</dict>
	<dict>
		<key>default</key>
		<string>100</string>
		<key>label</key>
		<string>max</string>
		<key>name</key>
		<string>max</string>
		<key>type</key>
		<string>edit</string>
	</dict>

	</array>
</plist>
